In [62]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [63]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [64]:
dt=pd.read_csv(r"C:\Users\HP\OneDrive\문서\TASK\Datasets\pima-indians-diabetes.csv")
dt.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [65]:
from numpy import loadtxt

In [66]:
df=loadtxt(r"C:\Users\HP\OneDrive\문서\TASK\Datasets\pima-indians-diabetes.csv",delimiter=",")

In [67]:
dz=pd.DataFrame(df,columns=["x0","x1","x2","x3","x4","x5","x6","x7","outcomes"])
dz

       x0     x1    x2    x3     x4    x5     x6    x7  outcomes
0     6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0       1.0
1     1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0       0.0
2     8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0       1.0
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0       0.0
4     0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0       1.0
..    ...    ...   ...   ...    ...   ...    ...   ...       ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63.0       0.0
764   2.0  122.0  70.0  27.0    0.0  36.8  0.340  27.0       0.0
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30.0       0.0
766   1.0  126.0  60.0   0.0    0.0  30.1  0.349  47.0       1.0
767   1.0   93.0  70.0  31.0    0.0  30.4  0.315  23.0       0.0

[768 rows x 9 columns]

In [68]:
x=dz.drop("outcomes",axis=1)
y=dz["outcomes"]
y

0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
      ...
763    0.0
764    0.0
765    0.0
766    1.0
767    0.0
Name: outcomes, Length: 768, dtype: float64

In [69]:
model = Sequential()
model.add(Dense(7, activation='relu'))
model.add(Dense(5, activation='relu'))
model.add(Dense(3, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [70]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [71]:
model.fit(x,y,epochs=20,batch_size=20)

Epoch 1/20

39/39 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6510 - loss: 0.6780
Epoch 2/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6510 - loss: 0.6742
Epoch 3/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6510 - loss: 0.6701
Epoch 4/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6510 - loss: 0.6684
Epoch 5/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6510 - loss: 0.6655
Epoch 6/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6562 - loss: 0.6623
Epoch 7/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6484 - loss: 0.6596
Epoch 8/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6536 - loss: 0.6580
Epoch 9/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6458 - loss: 0.6563
Epoch 10/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6562 - loss: 0.6541
Epoch 11/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6497 - loss: 0.6522
Epoch 12/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6484 - loss: 0.6511
Epoch 13/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6549 - loss: 0.6495
Epoch 14/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6549 - loss: 0.6471
Epoch 15/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6536 - loss: 0.6463
Epoch 16/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6562 - loss: 0.6435
Epoch 17/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6549 - loss: 0.6410
Epoch 18/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6549 - loss: 0.6391
Epoch 19/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6562 - loss: 0.6359
Epoch 20/20
39/39 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6523 - loss: 0.6341